<app-header titulo="Usuario"></app-header>

<ion-content>
    <ion-card-header>
        <ion-card-title>Registro de Usuario</ion-card-title>
    </ion-card-header>
<ion-card>

<ion-item>
    <ion-label position="fixed">ID: </ion-label>
    <ion-input type="text" name="id" [(ngModel)]="datos_formulario.id"></ion-input>
    <ion-icon name="eye"></ion-icon>
  </ion-item>
<ion-item>
    <ion-label position="fixed">Nombre: </ion-label>
    <ion-input type="text" name="nombre" [(ngModel)]="datos_formulario.nombre"></ion-input>
    <ion-icon name="eye"></ion-icon>
  </ion-item>
<ion-item>
    <ion-label position="fixed">Apellido: </ion-label>
    <ion-input type="text" name="apellido" [(ngModel)]="datos_formulario.apellido"></ion-input>
    <ion-icon name="eye"></ion-icon>
  </ion-item>
<ion-item>
    <ion-label position="fixed">RUT: </ion-label>
    <ion-input type="text" name="rut" [(ngModel)]="datos_formulario.rut"></ion-input>
    <ion-icon name="eye"></ion-icon>
  </ion-item>
<ion-item>
    <ion-label position="fixed">Correo: </ion-label>
    <ion-input type="text" name="correo" [(ngModel)]="datos_formulario.correo"></ion-input>
    <ion-icon name="eye"></ion-icon>
  </ion-item>
<ion-item>
    <ion-label position="fixed">Password: </ion-label>
    <ion-input type="password" name="password" [(ngModel)]="datos_formulario.password"></ion-input>
    <ion-icon name="eye"></ion-icon>
  </ion-item>

  <ion-button expand="full" >Cancelar</ion-button>
  <ion-button (click)="enviarDatos()" expand="full" >Enviar</ion-button>

</ion-card>

</ion-content>